@model OnlineMarket.Models.Account

@{
    ViewData["Title"] = "Tạo mới tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4>Tạo tài khoản cho quản trị viên</h4>
        <p>Quyền lợi luôn đi cùng với trách nhiệm, giữ được thì phải làm được.</p>
        <h6>Không chia sẽ tài khoản cho bất kỳ ai</h6>
        <br />
        <br />
        <form asp-controller="AdminAccounts" asp-action="Create" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Họ và tên</label>
                    <input type="text" class="form-control" asp-for="FullName" placeholder="Họ và tên">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Số điện thoại</label>
                    <input type="text" class="form-control" asp-for="Phone" placeholder="Số điện thoại">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Địa chỉ Email</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Địa chỉ Email">
                </div>    
                <div class="form-group col-md-6">
                    <label for="RoleId">Quyền truy cập</label>
                    <select class="form-control" asp-for="RoleId" asp-items="@ViewBag.QuyenTruyCap" required>
                        <option value="0" disabled selected>Chọn quyền truy cập</option>
                    </select>
                </div>
               
            </div>
           
     
            <div class="form-group">
                <div class="checkbox">
                    <input asp-for="Active" type="checkbox">
                    <label for="Active">Kích hoạt</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Tạo mới tài khoản</button>
        </form>
    </div>
</div>
